<div class="page-wraper">
  <!-- HEADER START -->
   <div class="header">
  <app-header></app-header>
  </div>
  <!-- HEADER END -->

  <!-- CONTENT START -->
  <div class="page-content">
    <!-- SLIDER START -->
    <app-slider></app-slider>
<div class="video-section-full bg-no-repeat bg-cover overlay-wraper" style="background-image: url(assets/images/video-bg.jpg)">
    <div class="overlay-main bg-black opacity-07"></div>
    <div class="video-section-inner">
        <div class="video-section-content text-center">
            <div class="video-section-right">
                <iframe
                    src="https://player.vimeo.com/video/34741214?autoplay=1&color=ffffff&title=0&byline=0&portrait=0"
                    frameborder="0"
                    allow="autoplay; fullscreen"
                    allowfullscreen
                ></iframe>
            </div>
        </div>
    </div>
</div>

    <!-- OUR SPECIALLIZATION START -->
    <div
      class="section-full mobile-page-padding our-speci_wrap bg-white p-t80 p-b30 bg-repeat square_shape1"
      style="background-image: url(assets/images/background/bg-5.png)">
      <div class="container">
        <!-- IMAGE CAROUSEL START -->
        <div class="section-content">
          <div class="row">
            <div class="col-xl-3 col-lg-3">
              <div class="image-effect-one hover-shadow">
                <img src="assets/images/pic1.jpg" alt="" />
                <div class="figcaption">
                  <h4>Construction</h4>
                  <p>Engineering your dreams with us.</p>
                  <a href="project-detail.html"><i class="link-plus site-bg-primary"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3">
              <div class="image-effect-one hover-shadow">
                <img src="assets/images/pic2.jpg" alt="" />
                <div class="figcaption">
                  <h4>Architecture</h4>
                  <p>Life is Architecture.</p>
                  <a href="project-detail.html"><i class="link-plus site-bg-primary"></i></a>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3">
              <div class="image-effect-one hover-shadow">
                <img src="assets/images/pic3.jpg" alt="" />
                <div class="figcaption site-bg-dark">
                  <h4>Renovation</h4>
                  <p>Dazzling Design</p>
                  <a href="project-detail.html"><i class="link-plus site-bg-primary"></i></a>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-12 col-md-6 m-b30">
              <div class="mt-box our-speciallization-content">
                <h2 class="m-t0"><span class="font-weight-100">Building</span> <br />It better in concrete.</h2>
                <p class="fs-5">
                  Power through Expertise...Stainability through quality More
                  <br />
                  than 40 Years of Expertise and Quality
                </p>
                <a
                  href="contact-1.html"
                  class="site-button btn-effect"
                  style="
                    transition: none 0s ease 0s;
                    text-align: inherit;
                    line-height: 20px;
                    border-width: 0px;
                    margin: 0px 6px 0px 5px;
                    padding: 10px 20px;
                    letter-spacing: 4px;
                    font-weight: 400;
                    font-size: 14px;
                    background-color: brown;
                    color: antiquewhite;
                  "
                  >View All</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hilite-title text-dengar p-r50 text-uppercase text-pop-up-top">
        <strong >Welcome</strong>
      </div>
    </div>
    <!-- OUR SPECIALLIZATION END -->

    <!-- ABOUT COMPANY START -->
    <div
      class="section-full mobile-page-padding p-t80 p-b30 site-bg-dark bg-repeat square_shape2 bg-moving"
      style="background-image: url('images/background/bg-6.png'); background-position: -7629px 0px">
      <div class="container">
        <!-- TITLE START -->
        <div class="section-head">
          <div class="mt-separator-outer separator-center">
            <div class="mt-separator">
              <h2 class="text-danger text-uppercase sep-line-one">
                <span class="font-weight-300 site-text-primary text-danger">About</span>
                Company
              </h2>
            </div>
          </div>
        </div>
        <!-- TITLE END -->
        <div class="section-content">
          <div class="row">
            <div class="col-lg-9 col-md-12">
              <div class="owl-carousel about-home owl-btn-vertical-center owl-loaded owl-drag">
                <div class="owl-stage-outer">
                  <div class="owl-stage" style="transform: translate3d(-2650px, 0px, 0px); transition: all 0.25s ease 0s; width: 9719px">
                    <div class="owl-item cloned" style="width: 853.5px; margin-right: 30px">
                      <div class="item">
                        <div class="mt-img-effect zoom-slow">
                          <a href="about-1.html"><img src="assets/images/gallery/pic9.jpg" alt="" /></a>
                        </div>
                      </div>
                    </div>

                    <div class="owl-item" style="width: 853.5px; margin-right: 30px">
                      <div class="item">
                        <div class="mt-img-effect zoom-slow">
                          <a href="about-1.html"><img src="assets/images/gallery/pic6.jpg" alt="" /></a>
                        </div>
                      </div>
                    </div>
                    <div class="owl-item" style="width: 853.5px; margin-right: 30px">
                      <div class="item">
                        <div class="mt-img-effect zoom-slow">
                          <a href="about-1.html"><img src="assets/images/gallery/pic2.jpg" alt="" /></a>
                        </div>
                      </div>
                    </div>
                    <div class="owl-item cloned" style="width: 853.5px; margin-right: 30px">
                      <div class="item">
                        <div class="mt-img-effect zoom-slow">
                          <a href="about-1.html"><img src="assets/images/gallery/pic1.jpg" alt="" /></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-nav disabled">
                  <button type="button" role="presentation" class="owl-prev">
                    <i class="fa fa-angle-left"></i></button
                  ><button type="button" role="presentation" class="owl-next">
                    <i class="fa fa-angle-right"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-12">
              <div class="about-home-right bg-white p-a30">
                <h3 class="m-t0"><span class="font-weight-100">Committed</span> to superior quality and results.</h3>
                <p>
                  <strong
                    >Committed to superior quality and results. Mohammad Saeed ALGhamdi for General Trading and Contracting holds The Saudi Quality Mark</strong
                  >
                </p>

                <div class="text-right">
                  <a href="about-1.html" class="site-button-link text-danger" data-hover="Read More"
                    >Read More <i class="fa fa-angle-right arrow-animation text-danger"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hilite-title text-left p-l50 text-uppercase hilite-dark">
        <strong>About</strong>
      </div>
    </div>

    <!-- ABOUT COMPANY END -->

    <!-- OUR VALUE START -->
    <div class="section-full mobile-page-padding p-t80 p-b50 bg-white our-valu-wrap">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-lg-4 col-md-12">
              <!-- TITLE START -->
              <div class="section-head">
                <div class="mt-separator-outer separator-left">
                  <div class="mt-separator">
                    <h2 class="text-uppercase sep-line-one text-danger">
                      <span class="font-weight-300 site-text-danger">Our</span>
                      Vission
                    </h2>
                  </div>
                  <p>
                    Providing our clients with the necessary materials for their projects completion including concrete products,equipment,andcrusher materials
                    on time according to the highest quality standards.
                  </p>
                </div>
              </div>
              <!-- TITLE END -->

              <div class="video-section-full bg-no-repeat bg-cover overlay-wraper" style="background-image: url(assets/images/video-bg.jpg)">
                <div class="overlay-main bg-black opacity-07"></div>
                <div class="video-section-inner">
                  <div class="video-section-content">
                    <div class="video-section-left">
                      <a href="https://player.vimeo.com/video/34741214?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" class="mfp-video play-now">
                        <i class="icon fa fa-play"></i>
                        <span class="ripple"></span>
                      </a>
                    </div>
                    <div class="video-section-right">
                      <a
                        href="https://player.vimeo.com/video/34741214?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0"
                        class="mfp-video font-weight-600 text-uppercase"
                        >Video Presentation</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="mt-count m-b30 text-white mt-icon-box-wraper center site-bg-dark p-a20">
                <div class="counter font-30 font-weight-800 m-b15 site-text-primary text-danger">450</div>
                <h4 class="m-tb0">Active Experts</h4>
              </div>
              <div class="mt-count m-b30 text-white mt-icon-box-wraper center site-bg-dark p-a20">
                <div class="counter font-30 font-weight-800 m-b15 site-text-primary text-danger">670</div>
                <h4 class="m-tb0">Satisfied Clients</h4>
              </div>
              <div class="mt-count m-b30 text-white mt-icon-box-wraper center site-bg-dark p-a20">
                <div class="counter font-30 font-weight-800 m-b15 site-text-primary text-danger">1500</div>
                <h4 class="m-tb0">Project Complete</h4>
              </div>
            </div>
            <div class="col-lg-5 col-md-6">
              <div class="our-exp">
                <div class="mt-box">
                  <h3 class="m-t0">
                    <span class="font-weight-100"> We have</span><span class="site-text-primary text-danger"> 40 years</span>
                    experience in construction
                  </h3>
                </div>

                <span class="progressText text-black"><B>Architecher</B></span>
                <div class="progress m-b30 m-t10">
                  <div
                    class="progress-bar site-bg-primary progress-bar-striped progress-bar-animated text-black"
                    role="progressbar"
                    style="width: 85%"
                    aria-valuenow="85"
                    aria-valuemin="0"
                    aria-valuemax="100">
                    <span>85%</span>
                  </div>
                </div>

                <span class="progressText text-black"><B>Construction</B></span>
                <div class="progress m-b30 m-t10">
                  <div
                    class="progress-bar site-bg-primary progress-bar-striped progress-bar-animated text-black"
                    role="progressbar "
                    style="width: 78%"
                    aria-valuenow="78"
                    aria-valuemin="0"
                    aria-valuemax="100">
                    <span>78%</span>
                  </div>
                </div>

                <span class="progressText text-black"><B>Interior</B></span>
                <div class="progress m-b30 m-t10">
                  <div
                    class="progress-bar site-bg-primary progress-bar-striped progress-bar-animated text-black"
                    role="progressbar"
                    style="width: 65%"
                    aria-valuenow="65"
                    aria-valuemin="0"
                    aria-valuemax="100">
                    <span>65%</span>
                  </div>
                </div>

                <span class="progressText text-black"><B>Building</B></span>
                <div class="progress m-b30 m-t10">
                  <div
                    class="progress-bar site-bg-primary progress-bar-striped progress-bar-animated text-black"
                    role="progressbar"
                    style="width: 78%"
                    aria-valuenow="78"
                    aria-valuemin="0"
                    aria-valuemax="100">
                    <span>78%</span>
                  </div>
                </div>

                <span class="progressText text-black"><B>Commercial</B></span>
                <div class="progress m-b30 m-t10">
                  <div
                    class="progress-bar site-bg-primary progress-bar-striped progress-bar-animated text-black"
                    role="progressbar"
                    style="width: 65%"
                    aria-valuenow="65"
                    aria-valuemin="0"
                    aria-valuemax="100">
                    <span>95%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- OUR VALUE END -->

    <!-- OUR MISSION START -->
    <div
      class="section-full mobile-page-padding mission-outer-section p-t80 p-b30 bg-gray bg-no-repeat bg-right-center"
      style="background-image: url(assets/images/left-men.png), url(assets/images/background/bg-4.png)">
      <div class="section-content">
        <div class="container">
          <!-- TITLE START -->
          <div class="section-head">
            <div class="mt-separator-outer separator-center">
              <div class="mt-separator">
                <h2 class="text-uppercase text-danger sep-line-one">
                  <span class="font-weight-300 site-text-primary text-danger">Our</span>
                  Mission
                </h2>
              </div>
            </div>
          </div>
          <!-- TITLE END -->

          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="mission-left bg-white m-b30 p-a30 bg-no-repeat bg-bottom-left" style="background-image: url(assets/images/background/bg-site.png)">
                <h3 class="m-t0">
                  <span class="font-weight-100"> Site Areas</span><br />
                  what we serve
                </h3>
                <p>Reach the vogue in building materials supply for projects facing challenges upon a timetable to stand apart from our competitors.</p>
                <ul class="list-angle-right anchor-line">
                  <li>
                    <a href="services.html" class="text-danger">Construction Management</a>
                  </li>
                  <li>
                    <a href="services.html" class="text-danger">Pre Construction Services</a>
                  </li>
                  <li>
                    <a href="services.html" class="text-danger">Contract Administration</a>
                  </li>
                  <li>
                    <a href="services.html" class="text-danger">Implementation</a>
                  </li>
                  <li>
                    <a href="services.html" class="text-danger">Leed consultation</a>
                  </li>
                </ul>
                <div class="text-right">
                  <a href="about-1.html" class="site-button-link text-danger" data-hover="Read More"
                    >Read More <i class="fa fa-angle-right arrow-animation"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="mission-mid bg-no-repeat bg-cover m-b30" style="background-image: url(assets/images/mission.jpg)"></div>
            </div>

            <div class="col-lg-4 col-md-12">
              <div class="contact-home1-left site-bg-dark p-a30 m-b0">
                <h3 class="text-danger m-t0"><span class="font-weight-100">Get In</span> Touch</h3>
                <form class="cons-contact-form2 form-transparent" method="post" action="https://theme7x.com/shapen/form-handler2.php">
                  <div class="input input-animate">
                    <label for="name" class="text-danger">Name</label>
                    <input type="text" name="username" id="name" required />
                    <span class="spin"></span>
                  </div>

                  <div class="input input-animate">
                    <label for="email" class="text-danger">Email</label>
                    <input type="email" name="email" id="email" required />
                    <span class="spin"></span>
                  </div>

                  <div class="input input-animate">
                    <label for="Phone" class="text-danger">Phone</label>
                    <input type="text" name="phone" id="Phone" required />
                    <span class="spin"></span>
                  </div>

                  <div class="input input-animate">
                    <label for="message" class="text-danger">Textarea</label>
                    <textarea name="message" id="message" required></textarea>
                    <span class="spin"></span>
                  </div>
                  <a
                    href="contact-1.html"
                    class="site-button btn-effect"
                    style="
                      transition: none 0s ease 0s;
                      text-align: inherit;
                      line-height: 20px;
                      border-width: 0px;
                      margin: 0px 6px 0px 5px;
                      padding: 10px 20px;
                      letter-spacing: 4px;
                      font-weight: 400;
                      font-size: 14px;
                      background-color: brown;
                      color: antiquewhite;
                    ">
                    Submit Now</a
                  >
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hilite-title text-left p-l50 text-dengar text-pop-up-top">
        <strong >Mission</strong>
      </div>
    </div>
    <!-- OUR MISSION  END -->

    <!-- OUR SERVICES START -->
    <div class="section-full mobile-page-padding our-service-wrap p-b50 square_shape2">
      <div class="section-content">
        <div class="Service-half-top p-t80 site-bg-dark bg-moving" style="background-image: url(assets/images/background/bg-6.png)">
          <div class="container">
            <!-- TITLE START -->
            <div class="section-head text-white">
              <div class="mt-separator-outer separator-left">
                <div class="mt-separator">
                  <h2 class="text-danger text-uppercase sep-line-one">
                    <span class="font-weight-300 site-text-primary text-danger">Our</span>
                    Services
                  </h2>
                </div>
              </div>
              <h3>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration</h3>
            </div>
            <!-- TITLE END -->
          </div>
        </div>
        <div class="services-half-bottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="mt-icon-box-wraper m-b30">
                  <div class="relative icon-count-2 bg-gray p-a30 p-tb50">
                    <span class="icon-count-number text-danger">1</span>
                    <div class="icon-md inline-icon m-b15 site-text-primary scale-in-center">
                      <span class="icon-cell"><img src="assets/images/icon/crane-1.png" alt="" /></span>
                    </div>
                    <div class="icon-content">
                      <h4 class="mt-tilte m-b25">Building <br />Construction</h4>
                      <p>lorem Ipsum available, but the majority have suffered alterati on in some form, by ious by accident.</p>
                      <a href="services.html" class="site-button-link text-danger" data-hover="Read More"
                        >Read More <i class="fa fa-angle-right arrow-animation"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6">
                <div class="mt-icon-box-wraper m-b30">
                  <div class="relative icon-count-2 bg-gray p-a30 p-tb50">
                    <span class="icon-count-number text-danger">2</span>
                    <div class="icon-md inline-icon m-b15 site-text-primary scale-in-center">
                      <span class="icon-cell"><img src="assets/images/icon/renovation.png" alt="" /></span>
                    </div>
                    <div class="icon-content">
                      <h4 class="mt-tilte m-b25">Building <br />Renovation</h4>
                      <p>lorem Ipsum available, but the majority have suffered alterati on in some form, by ious by accident.</p>
                      <a href="services.html" class="site-button-link text-danger" data-hover="Read More"
                        >Read More <i class="fa fa-angle-right arrow-animation"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6">
                <div class="mt-icon-box-wraper m-b30">
                  <div class="relative icon-count-2 bg-gray p-a30 p-tb50">
                    <span class="icon-count-number text-danger">3</span>
                    <div class="icon-md inline-icon m-b15 site-text-primary scale-in-center">
                      <span class="icon-cell"><img src="assets/images/icon/toolbox.png" alt="" /></span>
                    </div>
                    <div class="icon-content">
                      <h4 class="mt-tilte m-b25">Building <br />Maintenance</h4>
                      <p>lorem Ipsum available, but the majority have suffered alterati on in some form, by ious by accident.</p>
                      <a href="services.html" class="site-button-link text-danger" data-hover="Read More"
                        >Read More <i class="fa fa-angle-right arrow-animation"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-3 col-md-6">
                <div class="mt-icon-box-wraper m-b30">
                  <div class="relative icon-count-2 bg-gray p-a30 p-tb50">
                    <span class="icon-count-number text-danger">4</span>
                    <div class="icon-md inline-icon m-b15 site-text-primary scale-in-center">
                      <span class="icon-cell"><img src="assets/images/icon/compass.png" alt="" /></span>
                    </div>
                    <div class="icon-content">
                      <h4 class="mt-tilte m-b25">Architecture<br />Design</h4>
                      <p>lorem Ipsum available, but the majority have suffered alterati on in some form, by ious by accident.</p>
                      <a href="services.html" class="site-button-link text-danger" data-hover="Read More"
                        >Read More <i class="fa fa-angle-right arrow-animation"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hilite-title text-left p-l50 text-dengar text-pop-up-top">
        <strong >Services</strong>
      </div>
    </div>
    <!-- OUR SERVICES  END -->

    <!-- CALL US SECTION START -->

    <!-- CALL US SECTION END -->
    <div
      class="section-full mobile-page-padding mission-outer-section p-t80 p-b30 bg-gray bg-no-repeat bg-right-center"
      style="background-image: url(assets/images/mission), url(assets/images/background/bg-4.png)">
      <div class="section-content">
        <div class="container">
          <!-- TITLE START -->
          <div class="section-head">
            <div class="mt-separator-outer separator-center">
              <div class="mt-separator">
               <div class="section-head">
      <div class="mt-separator-outer separator-center">
        <div class="mt-separator">
          <h2 class="text-danger text-uppercase sep-line-one">
            <span class="font-weight-300 site-text-primary text-danger">Ready </span>
            Mixed Concrete
          </h2>
        </div>
      </div>
    </div>
                <p class="fs-5 mt-4">
                  MSG Factory for Ready-mix concrete is characterized by its ability to provide services to contractors in various construction work and at all
                  times relying on an experienced, highly qualified and efficient team as well as its commitment to provide products with the highest quality
                  and production criteria.
                </p>
              </div>
            </div>
          </div>
          <!-- TITLE END -->
          <p class="fs-6 text-danger text-center">
            There are different types of design mix that we manufacture Vary from one client to another: on request, but the most important
          </p>
          <div class="row">
            <div class="col-lg-3">
              <div class="our-team-1 hover-animation-1">
                <div class="profile-image scale-in-center">
                  <img src="assets/images/projects/square/pic5.jpg" alt="" />
                </div>
                <div class="figcaption">
                  <h4>Reinforced Concrete-250</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="our-team-1 hover-animation-1">
                <div class="profile-image scale-in-center">
                  <img src="assets/images/projects/square/pic4.jpg" alt="" />
                </div>
                <div class="figcaption">
                  <h4>Reinforced Concrete-300</h4>
                </div>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="our-team-1 hover-animation-1">
                <div class="profile-image scale-in-center">
                  <img src="assets/images/projects/square/pic7.jpg" alt="" />
                </div>
                <div class="figcaption">
                  <h4>Reinforced Concrete-350</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="our-team-1 hover-animation-1">
                <div class="profile-image scale-in-center">
                  <img src="assets/images/projects/square/pic8.jpg" alt="" />
                </div>
                <div class="figcaption">
                  <h4>Reinforced Concrete-400</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hilite-title text-left p-l50 text-dengar text-pop-up-top">
        <strong > Mix concrete</strong>
      </div>
    </div>

    <div
      class="section-full mobile-page-padding mission-outer-section p-t80 p-b30 bg-gray bg-no-repeat card bg-right-center"
      style="background-image: url(assets/images/gallery/pic4.jpg), url(assets/images/background/bg-4.png)">
      <div class="section-content">
        <div class="container">
          <!-- TITLE START -->
          <div class="section-head">
            <div class="mt-separator-outer separator-center">
              <div class="mt-separator">
                  <div class="section-head">
      <div class="mt-separator-outer separator-center">
        <div class="mt-separator">
          <h2 class="text-danger text-uppercase sep-line-one">
            <span class="font-weight-300 site-text-primary text-danger">Crusher  </span>
            Material
          </h2>
        </div>
      </div>
    </div>
                <p class="fs-5 mt-4">
                  Based on the remarkable evolution of our organization, we want to deepen our roots in the field of construction and its basics. The idea of
                  establishing a crusher in the area of Al-Hammad that is rich of the black basalt stone, which is considered absolutely the best in the
                  production of the block and precast concrete and asphalt.
                </p>
              </div>
            </div>
          </div>
          <!-- TITLE END -->

          <div class="row">
            <div class="col-lg-3">
              <div class="our-team-1 hover-animation-1">
                <div class="profile-image scale-in-center">
                  <img src="assets/images/S1.jpeg" alt="" />
                </div>
                <div class="figcaption">
                  <h4>3/8 AGGREGATE</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="our-team-1 hover-animation-1">
                <div class="profile-image scale-in-center">
                  <img src="assets/images/S3.jpeg" alt="" />
                </div>
                <div class="figcaption">
                  <h4>3/16 AGGREGATE</h4>
                </div>
              </div>
            </div>

            <div class="col-lg-3">
              <div class="our-team-1 hover-animation-1">
                <div class="profile-image scale-in-center">
                  <img src="assets/images/S2.jpeg" alt="" />
                </div>
                <div class="figcaption">
                  <h4>1/2 AGGREGATE</h4>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="our-team-1 hover-animation-1 " style="height: 242px;" >
                <div class="profile-image scale-in-center">
                  <img src="assets/images/S4.jpeg" alt=""style="height: 100px; width: 150px;" />
                </div>
                <div class="figcaption">
                  <h4>3/4 AGGREGATE</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hilite-title text-left p-l50 text-dengar text-pop-up-top">
        <strong >Crusher Material</strong>
      </div>
    </div>
    <div
      class="section-full mobile-page-padding mission-outer-section p-t80 p-b30 bg-gray bg-no-repeat card bg-right-center"
      style="background-image: url(), url(assets/images/background/bg-4.png)">
      <div class="container">
          <div class="section-head">
      <div class="mt-separator-outer separator-center">
        <div class="mt-separator">
          <h2 class="text-danger text-uppercase sep-line-one">
            <span class="font-weight-300 site-text-primary text-danger">Product </span>
             List
          </h2>
        </div>
      </div>
    </div>
        <app-product-card></app-product-card>
      </div>
      <div class="hilite-title text-left p-l50 text-dengar text-pop-up-top">
        <strong >Blocks</strong>
      </div>
    </div>
    <div
      class="section-full mobile-page-padding mission-outer-section p-t80 p-b30 bg-gray bg-no-repeat card bg-right-center"
      style="background-image: url(), url(assets/images/background/bg-4.png)">
      <div class="container">
        <!-- TITLE START -->
        <div class="section-head">
          <div class="mt-separator-outer separator-center">
            <div class="mt-separator">
              <h2 class="text-danger text-uppercase sep-line-one">
                <span class="font-weight-300 site-text-primary text-danger">Ready </span>
                Mixed Concrete
              </h2>
            </div>
          </div>
        </div>
        <!-- TITLE END -->

        <!-- IMAGE CAROUSEL START -->
        <div class="section-content">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-md-6">
              <div class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30">
                <div class="mt-post-media mt-img-overlay7">
                  <a href="javascript:;"><img src="assets/images/C2.jpeg" alt="" style="width: 420px; height: 300px" /></a>
                </div>

                <div class="post-overlay-position mt-post-info p-a30">
                  <div class="mt-post-title">
                    <h4 class="post-title m-b0">Concrete 15MPA-OPC/SRC</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30">
                <div class="mt-post-media mt-img-overlay7">
                  <a href="javascript:;"><img src="assets/images/C3.jpeg" alt="" style="width: 420px; height: 300px" /></a>
                </div>

                <div class="post-overlay-position mt-post-info p-a30">
                  <div class="mt-post-title">
                    <h4 class="post-title m-b0">Concrete 20MPA-OPC/SRC</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30">
                <div class="mt-post-media mt-img-overlay7">
                  <a href="javascript:;"><img src="assets/images/C4.jpeg" alt="" style="width: 420px; height: 300px" /></a>
                </div>

                <div class="post-overlay-position mt-post-info p-a30">
                  <div class="mt-post-title">
                    <h4 class="post-title m-b0">Concrete 25MPA-OPC/SRC</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30">
                <div class="mt-post-media mt-img-overlay7">
                  <a href="javascript:;"><img src="assets/images/C5.jpeg" alt="" style="width: 420px; height: 300px" /></a>
                </div>
                <div class="post-overlay-position mt-post-info p-a30">
                  <div class="mt-post-title">
                    <h4 class="post-title m-b0">Concrete 30MPA-OPC/SRC</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30">
                <div class="mt-post-media mt-img-overlay7">
                  <a href="javascript:;"><img src="assets/images/C6.jpeg" alt="" style="width: 420px; height: 300px" /></a>
                </div>

                <div class="post-overlay-position mt-post-info p-a30">
                  <div class="mt-post-title">
                    <h4 class="post-title m-b0">Concrete 35MPA-OPC/SRC</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30">
                <div class="mt-post-media mt-img-overlay7">
                  <a href="javascript:;"><img src="assets/images/C7.jpeg" alt="" style="width: 420px; height: 300px" /></a>
                </div>

                <div class="post-overlay-position mt-post-info p-a30">
                  <div class="mt-post-title">
                    <h4 class="post-title m-b0">Concrete 38MPA-OPC/SRC</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30">
                <div class="mt-post-media mt-img-overlay7">
                  <a href="javascript:;"><img src="assets/images/C1.jpeg" alt="" style="width: 420px; height: 300px" /></a>
                </div>

                <div class="post-overlay-position mt-post-info p-a30">
                  <div class="mt-post-title">
                    <h4 class="post-title m-b0">Concrete 40MPA-OPC/SRC</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hilite-title text-left p-l50 text-dengar text-pop-up-top">
        <strong >Ready Mixed Concrete</strong>
      </div>
    </div>
    <!-- OUR PROJECT START -->
    <div class="section-full mobile-page-padding our-project-wrap p-t80 p-b30 square_shape2">
      <div class="container">
        <!-- TITLE START -->
        <div class="section-head">
          <div class="mt-separator-outer separator-center">
            <div class="mt-separator">
              <h2 class="text-uppercase text-danger sep-line-one">
                <span class="font-weight-300 text-danger site-text-primary">Client</span>
                Testimonials
              </h2>
            </div>
          </div>
        </div>
        <!-- TITLE END -->

   <div id="projectCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="masonry-item cat-2 col-lg-4 col-md-6 mb-3 d-flex align-items-stretch">
          <div class="mt-box image-hover-block w-100">
            <div class="mt-thum-bx">
              <img src="assets/images/2.jpeg" class="img-fluid img-box " alt="" />
            </div>
            <div class="mt-info pt-2 text-white">
              <h4 class="mt-tilte mb-2 mt-0">ALORINI</h4>
              <p class="mb-0">Construction of the Charitable a housing project</p>
            </div>
            <a href="project-detail.html"></a>
          </div>
        </div>
        <div class="masonry-item cat-2 col-lg-4 col-md-6 mb-3 d-flex align-items-stretch">
          <div class="mt-box image-hover-block w-100">
            <div class="mt-thum-bx">
              <img src="assets/images/21.jpeg" class="img-fluid img-box w-500px h-500px" alt="" />
            </div>
            <div class="mt-info pt-2 text-white">
              <h4 class="mt-tilte mb-2 mt-0">SAPAC</h4>
              <p class="mb-0">Sidewalks projects,Tunnels of Turaif and Qurayyat</p>
            </div>
            <a href="project-detail.html"></a>
          </div>
        </div>
        <div class="masonry-item cat-6 col-lg-4 col-md-6 mb-3 d-flex align-items-stretch">
          <div class="mt-box image-hover-block w-100">
            <div class="mt-thum-bx">
              <img src="assets/images/4.jpeg" class="img-fluid img-box w-500px h-500px" alt="" />
            </div>
            <div class="mt-info pt-2 text-white">
              <h4 class="mt-tilte mb-2 mt-0">Arabian Civil Works Company</h4>
              <p class="mb-0">Building Public Schools</p>
            </div>
            <a href="project-detail.html"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="masonry-item cat-6 col-lg-4 col-md-6 mb-3 d-flex align-items-stretch">
          <div class="mt-box image-hover-block w-100">
            <div class="mt-thum-bx">
              <img src="assets/images/3.jpeg" class="img-fluid img-box w-500px h-500px" alt="" />
            </div>
            <div class="mt-info pt-2 text-white">
              <h4 class="mt-tilte mb-2 mt-0">Hamed Almdouh Group</h4>
              <p class="mb-0">Almdouh Hotel,Municipal Projects</p>
            </div>
            <a href="project-detail.html"></a>
          </div>
        </div>
        <div class="masonry-item cat-3 col-lg-4 col-md-6 mb-3 d-flex align-items-stretch">
          <div class="mt-box image-hover-block w-100">
            <div class="mt-thum-bx">
              <img src="assets/images/6.jpeg" class="img-fluid img-box w-500px h-500px" alt="" />
            </div>
            <div class="mt-info pt-2 text-white">
              <h4 class="mt-tilte mb-2 mt-0">BABEL</h4>
              <p class="mb-0">Building the University of Northern Borders</p>
            </div>
            <a href="project-detail.html"></a>
          </div>
        </div>
        <div class="masonry-item cat-3 col-lg-4 col-md-6 mb-3 d-flex align-items-stretch">
          <div class="mt-box image-hover-block w-100">
            <div class="mt-thum-bx">
              <img src="assets/images/7.jpeg" class="img-fluid img-box w-500px h-500px" alt="" />
            </div>
            <div class="mt-info pt-2 text-white">
              <h4 class="mt-tilte mb-2 mt-0">BINAA ALAJYAL CONSTAUCTION EST</h4>
              <p class="mb-0">Building Public Schools</p>
            </div>
            <a href="project-detail.html"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="masonry-item cat-1 col-lg-4 col-md-6 mb-3 d-flex align-items-stretch">
          <div class="mt-box image-hover-block w-100">
            <div class="mt-thum-bx">
              <img src="assets/images/8.jpeg" class="img-fluid img-box w-500px h-500px" alt="" />
            </div>
            <div class="mt-info pt-2 text-white">
              <h4 class="mt-tilte mb-2 mt-0">Al-RASHID TRADING & CONTRACTING</h4>
              <p class="mb-0">Building Housing of the Border Patrol/Guards</p>
            </div>
            <a href="project-detail.html"></a>
          </div>
        </div>
        <div class="masonry-item cat-1 col-lg-4 col-md-6 mb-3 d-flex align-items-stretch">
          <div class="mt-box image-hover-block w-100">
            <div class="mt-thum-bx">
              <img src="assets/images/9.jpeg" class="img-fluid img-box w-500px h-500px" alt="" />
            </div>
            <div class="mt-info pt-2 text-white">
              <h4 class="mt-tilte mb-2 mt-0">Al-Rajhi Development Co.Ltd</h4>
              <p class="mb-0">Public School, Technical Institute</p>
            </div>
            <a href="project-detail.html"></a>
          </div>
        </div>
        <div class="masonry-item cat-1 col-lg-4 col-md-6 mb-3 d-flex align-items-stretch">
          <div class="mt-box image-hover-block w-100">
            <div class="mt-thum-bx">
              <img src="assets/images/10.jpeg" class="img-fluid img-box w-500px h-500px" alt="" />
            </div>
            <div class="mt-info pt-2 text-white">
              <h4 class="mt-tilte mb-2 mt-0">Al-Aqili Trading and Contracting EST</h4>
              <p class="mb-0">Hotels,Celebrations Galleries</p>
            </div>
            <a href="project-detail.html"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="masonry-item cat-1 col-lg-4 col-md-6 mb-3 d-flex align-items-stretch">
          <div class="mt-box image-hover-block w-100">
            <div class="mt-thum-bx">
              <img src="assets/images/15.png" class="img-fluid img-box w-500px h-500px" alt="" />
            </div>
            <div class="mt-info pt-2 text-white">
              <h4 class="mt-tilte mb-2 mt-0">Sinoma</h4>
              <p class="mb-0">Building Jouf Cement Company</p>
            </div>
            <a href="project-detail.html"></a>
          </div>
        </div>
        <div class="masonry-item cat-1 col-lg-4 col-md-6 mb-3 d-flex align-items-stretch">
          <div class="mt-box image-hover-block w-100">
            <div class="mt-thum-bx">
              <img src="assets/images/20.png" class="img-fluid img-box w-500px h-500px" alt="" />
            </div>
            <div class="mt-info pt-2 text-white">
              <h4 class="mt-tilte mb-2 mt-0">Nesma&Partners</h4>
              <p class="mb-0">Residential Buildings In North Cement</p>
            </div>
            <a href="project-detail.html"></a>
          </div>
        </div>
        <div class="masonry-item cat-1 col-lg-4 col-md-6 mb-3 d-flex align-items-stretch">
          <div class="mt-box image-hover-block w-100">
            <div class="mt-thum-bx">
              <img src="assets/images/13.png" class="img-fluid img-box w-500px h-500px" alt=""  />
            </div>
            <div class="mt-info pt-2 text-white">
              <h4 class="mt-tilte mb-2 mt-0">Another Project</h4>
              <p class="mb-0">Some other details</p>
            </div>
            <a href="project-detail.html"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#projectCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#projectCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



      </div>
      <div class="hilite-title text-left p-l50 text-uppercase text-pop-up-top">
        <strong >Clients</strong>
      </div>
    </div>

    <!-- OUR BLOG START -->
    <div class="section-full mobile-page-padding latest-blog-wrap p-t80 p-b30 square_shape1" style="background-image: url(assets/images/background/bg5.jpg)">
      <div class="container">
        <!-- TITLE START -->
        <div class="section-head">
          <div class="mt-separator-outer separator-center">
            <div class="mt-separator">
              <h2 class="text-danger text-uppercase sep-line-one">
                <span class="font-weight-300 site-text-primary text-danger">Latest</span>
                Blog
              </h2>
            </div>
          </div>
        </div>
        <!-- TITLE END -->

        <!-- IMAGE CAROUSEL START -->
        <div class="section-content">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-md-6">
              <div class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30">
                <div class="mt-post-media mt-img-overlay7">
                  <a href="javascript:;"><img src="assets/images/blog/latest-blog/pic1.jpg" alt="" /></a>
                </div>
                <div class="mt-post-info p-a30">
                  <div class="post-overlay-position">
                    <div class="mt-post-meta">
                      <ul>
                        <li class="post-date">
                          <strong class="site-text-primary">14</strong>
                          <span>April 2023</span>
                        </li>
                        <li class="post-author">By <a href="javascript:;">Admin</a></li>
                        <li class="post-comment">
                          <a href="javascript:;">2 comment</a>
                        </li>
                      </ul>
                    </div>
                    <div class="mt-post-title">
                      <h4 class="post-title m-b0">Commercial design for project</h4>
                    </div>
                    <div class="mt-post-text">
                      <p>Which is the same as saying through shrinking from toil and pain.</p>
                    </div>
                    <div class="readmore-line">
                      <span
                        ><a href="blog-grid.html" class="site-button-link" data-hover="Read More">Read More <i class="fa fa-angle-right arrow-animation"></i></a
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30">
                <div class="mt-post-media mt-img-overlay7">
                  <a href="javascript:;"><img src="assets/images/blog/latest-blog/pic2.jpg" alt="" /></a>
                </div>
                <div class="mt-post-info p-a30">
                  <div class="post-overlay-position">
                    <div class="mt-post-meta">
                      <ul>
                        <li class="post-date">
                          <strong class="site-text-primary">16</strong>
                          <span>Feb 2023</span>
                        </li>
                        <li class="post-author">By <a href="javascript:;">Admin</a></li>
                        <li class="post-comment">
                          <a href="javascript:;">2 comment</a>
                        </li>
                      </ul>
                    </div>
                    <div class="mt-post-title">
                      <h4 class="post-title m-b0">Our interior design prediction</h4>
                    </div>
                    <div class="mt-post-text">
                      <p>Today we can tell you, thanks to your passion, hard work creativity, and expertise.</p>
                    </div>
                    <div class="readmore-line">
                      <span
                        ><a href="blog-grid.html" class="site-button-link" data-hover="Read More">Read More <i class="fa fa-angle-right arrow-animation"></i></a
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="mt-box blog-post latest-blog-3 date-style-1 bg-white m-b30">
                <div class="mt-post-media mt-img-overlay7">
                  <a href="javascript:;"><img src="assets/images/blog/latest-blog/pic3.jpg" alt="" /></a>
                </div>
                <div class="mt-post-info p-a30">
                  <div class="post-overlay-position">
                    <div class="mt-post-meta">
                      <ul>
                        <li class="post-date">
                          <strong class="site-text-primary">18</strong>
                          <span>Jan 2023</span>
                        </li>
                        <li class="post-author">By <a href="javascript:;">Admin</a></li>
                        <li class="post-comment">
                          <a href="javascript:;">2 comment</a>
                        </li>
                      </ul>
                    </div>
                    <div class="mt-post-title">
                      <h4 class="post-title m-b0">Low cost interior designing ideas</h4>
                    </div>
                    <div class="mt-post-text">
                      <p>Every pleasure is to be welcomed every pain avoided. in certain circumstances.</p>
                    </div>
                    <div class="readmore-line">
                      <span
                        ><a href="blog-grid.html" class="site-button-link" data-hover="Read More">Read More <i class="fa fa-angle-right arrow-animation"></i></a
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hilite-title text-right p-r50 text-uppercase hilite-dark">
        <strong >Blog</strong>
      </div>
    </div>
    <!-- OUR BLOG END -->

    <!-- TESTIMONIALS SECTION START -->

    <!-- TESTIMONIALS SECTION END -->
  </div>
  <!-- CONTENT END -->

  <!-- FOOTER START -->
  <app-footer></app-footer>
  <!-- FOOTER END -->

  <!-- BUTTON TOP START -->
</div>

<!-- LOADING AREA START ===== -->

<!-- LOADING AREA  END ====== -->
<!-- STYLE SWITCHER  ======= -->

<!-- STYLE SWITCHER END ==== -->
