<div class="site-footer footer-large footer-dark footer-wide">
  <div class="container"></div>
  <!-- FOOTER BLOCKES START -->
  <div class="footer-top overlay-wraper">
    <div class="overlay-main"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="widget widget_map">
            <h4 class="widget-title">Our Locations</h4>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d391742.2921695243!2d-74.25986509362503!3d40.69767006438632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25054d7784e0b%3A0x81b3b1056c3b6a1f!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1632979336485!5m2!1sen!2sin"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"></iframe>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 mt-5">
          <div class="widget widget_about">
            <div class="logo-footer clearfix p-b15"></div>
            <p class="max-w400">
              Today we can tell you, thanks to your passion, hard work creativity, and expertise, you delivered us the most beautiful house great looks.
            </p>
            <ul class="social-icons mt-social-links">
              <li>
                <a href="https://www.google.com/" class="fa fa-google text-danger"></a>
              </li>
              <li>
                <a href="https://rss.com/" class="fa fa-rss text-danger"></a>
              </li>
              <li>
                <a href="https://www.facebook.com/" class="fa fa-facebook text-danger"></a>
              </li>
              <li>
                <a href="https://twitter.com/" class="fa fa-twitter text-danger"></a>
              </li>
              <li>
                <a href="https://in.linkedin.com/" class="fa fa-linkedin text-danger"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 mt-5">
          <div class="widget widget_services inline-links">
            <h4 class="widget-title">Useful links</h4>
            <ul>
              <li><a href="">Block factory location</a></li>
              <li><a href="">Ready mix concrete factory location</a></li>
              <li><a href="">Building materials quarry site</a></li>
              <li><a href=""> Office location</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER COPYRIGHT -->
  <div class="footer-bottom overlay-wraper">
    <div class="overlay-main"></div>
    <div class="container">
      <div class="row">
        <div class="mt-footer-bot-center">
          <span class="copyrights-text">© 2023 Your Company. Designed By 7xtheme.</span>
        </div>
      </div>
    </div>
  </div>
</div>
