<div class="header">
  <app-header></app-header>
</div>
<div
  class="section-full mobile-page-padding p-t80 p-b30 site-bg-dark bg-repeat square_shape2 bg-moving"
  style="background-image: url('images/background/bg-6.png'); background-position: -7629px 0px">
  <div class="container">
    <!-- TITLE START -->
    <div class="section-head">
      <div class="mt-separator-outer separator-center">
        <div class="mt-separator">
          <h2 class="text-danger text-uppercase sep-line-one">
            <span class="font-weight-300 site-text-primary text-danger">About</span>
            Company
          </h2>
        </div>
      </div>
    </div>
    <!-- TITLE END -->
    <div class="section-content">
      <div class="row">
        <div class="col-lg-9 col-md-12">
          <div class="owl-carousel about-home owl-btn-vertical-center owl-loaded owl-drag">
            <div class="owl-stage-outer">
              <div class="owl-stage" style="transform: translate3d(-2650px, 0px, 0px); transition: all 0.25s ease 0s; width: 9719px">
                <div class="owl-item cloned" style="width: 853.5px; margin-right: 30px">
                  <div class="item">
                    <div class="mt-img-effect zoom-slow">
                      <a href="about-1.html"><img src="assets/images/gallery/pic9.jpg" alt="" /></a>
                    </div>
                  </div>
                </div>

                <div class="owl-item" style="width: 853.5px; margin-right: 30px">
                  <div class="item">
                    <div class="mt-img-effect zoom-slow">
                      <a href="about-1.html"><img src="assets/images/gallery/pic6.jpg" alt="" /></a>
                    </div>
                  </div>
                </div>
                <div class="owl-item" style="width: 853.5px; margin-right: 30px">
                  <div class="item">
                    <div class="mt-img-effect zoom-slow">
                      <a href="about-1.html"><img src="assets/images/gallery/pic2.jpg" alt="" /></a>
                    </div>
                  </div>
                </div>
                <div class="owl-item cloned" style="width: 853.5px; margin-right: 30px">
                  <div class="item">
                    <div class="mt-img-effect zoom-slow">
                      <a href="about-1.html"><img src="assets/images/gallery/pic1.jpg" alt="" /></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-nav disabled">
              <button type="button" role="presentation" class="owl-prev">
                <i class="fa fa-angle-left"></i></button
              ><button type="button" role="presentation" class="owl-next">
                <i class="fa fa-angle-right"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-12">
          <div class="about-home-right bg-white p-a30">
            <h3 class="m-t0"><span class="font-weight-100">Committed</span> to superior quality and results.</h3>
            <p>Committed to superior quality and results. Mohammad Saeed ALGhamdi for General Trading and Contracting holds The Saudi Quality Mark</p>

            <div class="text-right">
              <a href="about-1.html" class="site-button-link text-danger" data-hover="Read More"
                >Read More <i class="fa fa-angle-right arrow-animation text-danger"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hilite-title text-left p-l50 text-uppercase hilite-dark">
    <strong>About</strong>
  </div>
</div>

<!-- ABOUT COMPANY END -->

<!-- OUR Vision START -->
<div class="section-full mobile-page-padding p-t80 p-b50 bg-white our-valu-wrap">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <!-- TITLE START -->
          <div class="section-head">
            <div class="mt-separator-outer separator-left">
              <div class="mt-separator">
                <h2 class="text-uppercase sep-line-one text-danger">
                  <span class="font-weight-300 site-text-danger">Our</span>
                  Vission
                </h2>
              </div>
              <p>
                Providing our clients with the necessary materials for their projects completion including concrete products,equipment,andcrusher materials on
                time according to the highest quality standards.
              </p>
            </div>
          </div>
          <!-- TITLE END -->

          <div class="video-section-full bg-no-repeat bg-cover overlay-wraper" style="background-image: url(assets/images/video-bg.jpg)">
            <div class="overlay-main bg-black opacity-07"></div>
            <div class="video-section-inner">
              <div class="video-section-content">
                <div class="video-section-left">
                  <a href="https://player.vimeo.com/video/34741214?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" class="mfp-video play-now">
                    <i class="icon fa fa-play"></i>
                    <span class="ripple"></span>
                  </a>
                </div>
                <div class="video-section-right">
                  <a
                    href="https://player.vimeo.com/video/34741214?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0"
                    class="mfp-video font-weight-600 text-uppercase"
                    >Video Presentation</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="mt-count m-b30 text-white mt-icon-box-wraper center site-bg-dark p-a20">
            <div class="counter font-30 font-weight-800 m-b15 site-text-primary text-danger">450</div>
            <h4 class="m-tb0">Active Experts</h4>
          </div>
          <div class="mt-count m-b30 text-white mt-icon-box-wraper center site-bg-dark p-a20">
            <div class="counter font-30 font-weight-800 m-b15 site-text-primary text-danger">670</div>
            <h4 class="m-tb0">Satisfied Clients</h4>
          </div>
          <div class="mt-count m-b30 text-white mt-icon-box-wraper center site-bg-dark p-a20">
            <div class="counter font-30 font-weight-800 m-b15 site-text-primary text-danger">1500</div>
            <h4 class="m-tb0">Project Complete</h4>
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <div class="our-exp">
            <div class="mt-box">
              <h3 class="m-t0">
                <span class="font-weight-100"> We have</span><span class="site-text-primary text-danger"> 40 years</span>
                experience in construction
              </h3>
            </div>

            <span class="progressText text-black"><B>Architecher</B></span>
            <div class="progress m-b30 m-t10">
              <div
                class="progress-bar site-bg-primary progress-bar-striped progress-bar-animated text-black"
                role="progressbar"
                style="width: 85%"
                aria-valuenow="85"
                aria-valuemin="0"
                aria-valuemax="100">
                <span>85%</span>
              </div>
            </div>

            <span class="progressText text-black"><B>Construction</B></span>
            <div class="progress m-b30 m-t10">
              <div
                class="progress-bar site-bg-primary progress-bar-striped progress-bar-animated text-black"
                role="progressbar "
                style="width: 78%"
                aria-valuenow="78"
                aria-valuemin="0"
                aria-valuemax="100">
                <span>78%</span>
              </div>
            </div>

            <span class="progressText text-black"><B>Interior</B></span>
            <div class="progress m-b30 m-t10">
              <div
                class="progress-bar site-bg-primary progress-bar-striped progress-bar-animated text-black"
                role="progressbar"
                style="width: 65%"
                aria-valuenow="65"
                aria-valuemin="0"
                aria-valuemax="100">
                <span>65%</span>
              </div>
            </div>

            <span class="progressText text-black"><B>Building</B></span>
            <div class="progress m-b30 m-t10">
              <div
                class="progress-bar site-bg-primary progress-bar-striped progress-bar-animated text-black"
                role="progressbar"
                style="width: 78%"
                aria-valuenow="78"
                aria-valuemin="0"
                aria-valuemax="100">
                <span>78%</span>
              </div>
            </div>

            <span class="progressText text-black"><B>Commercial</B></span>
            <div class="progress m-b30 m-t10">
              <div
                class="progress-bar site-bg-primary progress-bar-striped progress-bar-animated text-black"
                role="progressbar"
                style="width: 65%"
                aria-valuenow="65"
                aria-valuemin="0"
                aria-valuemax="100">
                <span>95%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- OUR VALUE END -->

<!-- OUR MISSION START -->
<div
  class="section-full mobile-page-padding mission-outer-section p-t80 p-b30 bg-gray bg-no-repeat bg-right-center"
  style="background-image: url(assets/images/left-men.png), url(assets/images/background/bg-4.png)">
  <div class="section-content">
    <div class="container">
      <!-- TITLE START -->
      <div class="section-head">
        <div class="mt-separator-outer separator-center">
          <div class="mt-separator">
            <h2 class="text-uppercase text-danger sep-line-one">
              <span class="font-weight-300 site-text-primary text-danger">Our</span>
              Mission
            </h2>
          </div>
        </div>
      </div>
      <!-- TITLE END -->

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="mission-left bg-white m-b30 p-a30 bg-no-repeat bg-bottom-left" style="background-image: url(assets/images/background/bg-site.png)">
            <h3 class="m-t0">
              <span class="font-weight-100"> Site Areas</span><br />
              what we serve
            </h3>
            <p>Reach the vogue in building materials supply for projects facing challenges upon a timetable to stand apart from our competitors.</p>
            <ul class="list-angle-right anchor-line">
              <li>
                <a href="services.html" class="text-danger">Construction Management</a>
              </li>
              <li>
                <a href="services.html" class="text-danger">Pre Construction Services</a>
              </li>
              <li>
                <a href="services.html" class="text-danger">Contract Administration</a>
              </li>
              <li>
                <a href="services.html" class="text-danger">Implementation</a>
              </li>
              <li>
                <a href="services.html" class="text-danger">Leed consultation</a>
              </li>
            </ul>
            <div class="text-right">
              <a href="about-1.html" class="site-button-link text-danger" data-hover="Read More">Read More <i class="fa fa-angle-right arrow-animation"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="mission-mid bg-no-repeat bg-cover m-b30" style="background-image: url(assets/images/mission.jpg)"></div>
        </div>

        <div class="col-lg-4 col-md-12">
          <div class="contact-home1-left site-bg-dark p-a30 m-b0">
            <h3 class="text-danger m-t0"><span class="font-weight-100">Get In</span> Touch</h3>
            <form class="cons-contact-form2 form-transparent" method="post" action="https://theme7x.com/shapen/form-handler2.php">
              <div class="input input-animate">
                <label for="name" class="text-danger">Name</label>
                <input type="text" name="username" id="name" required />
                <span class="spin"></span>
              </div>

              <div class="input input-animate">
                <label for="email" class="text-danger">Email</label>
                <input type="email" name="email" id="email" required />
                <span class="spin"></span>
              </div>

              <div class="input input-animate">
                <label for="Phone" class="text-danger">Phone</label>
                <input type="text" name="phone" id="Phone" required />
                <span class="spin"></span>
              </div>

              <div class="input input-animate">
                <label for="message" class="text-danger">Textarea</label>
                <textarea name="message" id="message" required></textarea>
                <span class="spin"></span>
              </div>
              <a
                href="contact-1.html"
                class="site-button btn-effect"
                style="
                  transition: none 0s ease 0s;
                  text-align: inherit;
                  line-height: 20px;
                  border-width: 0px;
                  margin: 0px 6px 0px 5px;
                  padding: 10px 20px;
                  letter-spacing: 4px;
                  font-weight: 400;
                  font-size: 14px;
                  background-color: brown;
                  color: antiquewhite;
                ">
                Submit Now</a
              >
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hilite-title text-left p-l50 text-dengar text-pop-up-top">
    <strong>Mission</strong>
  </div>
</div>
<app-footer></app-footer>
