<div class="header">
  <app-header></app-header>
</div>
<div class="section-full mobile-page-padding our-service-wrap p-b50 square_shape2">
  <div class="section-content">
    <div class="Service-half-top p-t80 site-bg-dark bg-moving" style="background-image: url(assets/images/background/bg-6.png)">
      <div class="container">
        <!-- TITLE START -->
        <div class="section-head text-white">
          <div class="mt-separator-outer separator-left">
            <div class="mt-separator">
              <h2 class="text-danger text-uppercase sep-line-one">
                <span class="font-weight-300 site-text-primary text-danger">Our</span>
                Services
              </h2>
            </div>
          </div>
          <h3>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration</h3>
        </div>
        <!-- TITLE END -->
      </div>
    </div>
    <div class="services-half-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="mt-icon-box-wraper m-b30">
              <div class="relative icon-count-2 bg-gray p-a30 p-tb50">
                <span class="icon-count-number text-danger">1</span>
                <div class="icon-md inline-icon m-b15 site-text-primary scale-in-center">
                  <span class="icon-cell"><img src="assets/images/icon/crane-1.png" alt="" /></span>
                </div>
                <div class="icon-content">
                  <h4 class="mt-tilte m-b25">Building <br />Construction</h4>
                  <p>lorem Ipsum available, but the majority have suffered alterati on in some form, by ious by accident.</p>
                  <a href="services.html" class="site-button-link text-danger" data-hover="Read More"
                    >Read More <i class="fa fa-angle-right arrow-animation"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="mt-icon-box-wraper m-b30">
              <div class="relative icon-count-2 bg-gray p-a30 p-tb50">
                <span class="icon-count-number text-danger">2</span>
                <div class="icon-md inline-icon m-b15 site-text-primary scale-in-center">
                  <span class="icon-cell"><img src="assets/images/icon/renovation.png" alt="" /></span>
                </div>
                <div class="icon-content">
                  <h4 class="mt-tilte m-b25">Building <br />Renovation</h4>
                  <p>lorem Ipsum available, but the majority have suffered alterati on in some form, by ious by accident.</p>
                  <a href="services.html" class="site-button-link text-danger" data-hover="Read More"
                    >Read More <i class="fa fa-angle-right arrow-animation"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="mt-icon-box-wraper m-b30">
              <div class="relative icon-count-2 bg-gray p-a30 p-tb50">
                <span class="icon-count-number text-danger">3</span>
                <div class="icon-md inline-icon m-b15 site-text-primary scale-in-center">
                  <span class="icon-cell"><img src="assets/images/icon/toolbox.png" alt="" /></span>
                </div>
                <div class="icon-content">
                  <h4 class="mt-tilte m-b25">Building <br />Maintenance</h4>
                  <p>lorem Ipsum available, but the majority have suffered alterati on in some form, by ious by accident.</p>
                  <a href="services.html" class="site-button-link text-danger" data-hover="Read More"
                    >Read More <i class="fa fa-angle-right arrow-animation"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="mt-icon-box-wraper m-b30">
              <div class="relative icon-count-2 bg-gray p-a30 p-tb50">
                <span class="icon-count-number text-danger">4</span>
                <div class="icon-md inline-icon m-b15 site-text-primary scale-in-center">
                  <span class="icon-cell"><img src="assets/images/icon/compass.png" alt="" /></span>
                </div>
                <div class="icon-content">
                  <h4 class="mt-tilte m-b25">Architecture<br />Design</h4>
                  <p>lorem Ipsum available, but the majority have suffered alterati on in some form, by ious by accident.</p>
                  <a href="services.html" class="site-button-link text-danger" data-hover="Read More"
                    >Read More <i class="fa fa-angle-right arrow-animation"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hilite-title text-left p-l50 text-dengar text-pop-up-top">
    <strong>Services</strong>
  </div>
</div>
<app-footer></app-footer>
