<div class="header">
  <app-header></app-header>
</div>
<div
  class="section-full mobile-page-padding p-t80 p-b30 site-bg-dark bg-repeat square_shape2 bg-moving"
  style="background-image: url('images/background/bg-6.png'); background-position: -7629px 0px">
  <div class="container">
    <div class="section-head">
      <div class="mt-separator-outer separator-center">
        <div class="mt-separator">
          <h2 class="text-uppercase sep-line-one">Products List</h2>

          <div class="products">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let product of product">
                <div class="our-team-1 hover-animation-1 text-center">
                  <div class="profile-image scale-in-center">
                    <img [src]="product.image" class="img-fluid" alt="" />
                  </div>
                  <div class="figcaption">
                    <h4>{{ product.name }}</h4>
                    <p>{{ product.size }}</p>
                    <span>{{ product.price }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <app-servicse></app-servicse>
        </div>
      </div>
    </div>
    <!-- <app-product-card></app-product-card> -->
  </div>

  <app-footer></app-footer>
</div>
