<app-header></app-header>
<div class="CartBox" *ngIf="product">
  <h1 class="text-danger">{{ product.name }}</h1>
  <div class="headCart">
    <p class="lead">
      Size: <label class="text-danger">{{ product.size }}</label>
    </p>
    <span class="text-danger card-header" (click)="clearCart()">Remove from Cart</span>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Price</th>
        <th style="width: 25%">Quantity</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img [src]="product.image" alt="{{ product.name }}" class="img-fluid" /></td>
        <td>{{ product.price }} L.E</td>
        <td>
          <div class="quantity">
            <input class="form-control" type="number" min="1" />
          </div>
        </td>
        <td>{{ product.price * product.quantity }} L.E</td>
        <td>
          <button class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Total: {{ product.price * product.quantity }} L.E</th>
        <th>
          <button class="btn btn-success" (click)="addToCart()">Add to Cart</button>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
<div class="alert alert-success" role="alert" *ngIf="orderSuccess"><strong>Well done!</strong> Your product has been added to the cart successfully.</div>

<app-footer></app-footer>
