/* You can add global styles to this file, and also import other style files */
@import './app/core/css/style.css';
@import './app/core/css/switcher.css';
@import './app/core/css/bootstrap.min.css';
@import './app/core/css/magnific-popup.min.css';
@import './app/core/css/owl.carousel.min.css';

.ltr {
  direction: ltr !important;
}

.rtl {
  direction: rtl !important;
}

body {
  background-color: white;
  color: black;

  &.dark-mode {
    background-color: #0f1014;
    color: white;
  }
}
.testimonial {
  margin-top: 10px;
  margin-left: 200px;
  background-color: azure; /* Light mode background */
  width: 500px;
  font-size: large;
  margin-bottom: 40px;
}

/* Dark mode styles */
body.dark-mode .testimonial {
  background-color: #26272f; /* Dark mode background */
  color: #ffffff; /* Light text color for better contrast */
}

.testimonial {
  margin-top: 10px;
  margin-left: 200px;
  background-color: azure;
  width: 500px;
  font-size: large;
  margin-bottom: 40px;
}
